<div class="container">
  <form (submit)='onSubmit()'>
    <div class="form-group">
      <label for="ProductName">ProductName:</label>
      <input id="ProductName" class="form-control" type="text" name="ProductName">
    </div>
    <div class="form-group">
      <label for="From">From:</label>
      <select id="From" class="form-control" name="From" multiple>
        <option>Jan</option>
        <option>Feb</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
      </select>
    </div>
    <div class="form-group">
      <label for="To">TO:</label>
      <select id="To" class="form-control" name="To" multiple>
        <option>Jan</option>
        <option>Feb</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
      </select>
    </div>
  </form>
</div>

